.HomePage {
  padding: 24px;

  h1 {
    margin-bottom: 24px;
  }

  code {
    pre {
      background-color: rgba(black, 0.15);
      border-radius: 4px;
      padding: 16px;
      font-size: 1rem;
    }
  }
}
